@model PlacementApplicationNew.Model.Role

@{
    ViewData["Title"] = "AddRole";
   Layout = "AdminLayout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<body class="bg-image" style="background-image: url('https://stijc.com/wp-content/uploads/2019/02/Technical-Background.jpg'); height: 100vh; ">
<h1 class="text-white">Add New Role</h1>
    @if (ViewBag.Success != null)
    {
        <div class="text-white">@ViewBag.Success</div>
    }
<hr />
    
        <div class=" row justify-content-center text-white">
            <div class="col-md-4">
            @if (ViewBag.Success == null)
            {
                <form asp-action="AddRole">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>*@
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalaryPackage" class="control-label"></label>
                        <input asp-for="SalaryPackage" class="form-control" />
                        <span asp-validation-for="SalaryPackage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CutoffPercentage" class="control-label"></label>
                        <input asp-for="CutoffPercentage" class="form-control" />
                        <span asp-validation-for="CutoffPercentage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfDrive" class="control-label"></label>
                        <input asp-for="DateOfDrive" class="form-control" />
                        <span asp-validation-for="DateOfDrive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyID" class="control-label">Select Company</label>
                        @*<input asp-for="CompanyID" class="form-control" />*@
                        <select asp-for="CompanyID" class ="form-control" asp-items="@ViewBag.Company">Select Role</select>
                        <span asp-validation-for="CompanyID" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>}
            </div>
        </div>    
    @if (ViewBag.Success != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                
                    toastr.success('@ViewBag.Success');
                
            });
        </script>
    }
    <div>
    <a asp-action="GetRoles">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>