@model PlacementApplicationNew.Model.Apply

@{
    ViewData["Title"] = "Apply";
     Layout = "StudentLayout";
}
<body class="bg-image" style="background-image: url('https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?size=626&ext=jpg&ga=GA1.2.2108062385.1661356707'); height: 100%; background-repeat:no-repeat; background-size:cover,contain;">

    <h1 class="text-white" style="text-align:center;">Do you Want to apply for the drive</h1>


@if (ViewBag.Message!=null)
{
    <div class="text-white">@ViewBag.Message</div>
}
    @if (ViewBag.Success != null)
    {
        <div class="text-white">@ViewBag.Success</div>
    }
<hr />
<div class="row text-white">
    <div class="col-md-4">
        <form asp-action="Apply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<label class="text-white">Role Id: @ViewBag.RoleId</label>*@

                @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
           @* <div class="form-group" >
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>*@
                @if (ViewBag.Message == null && ViewBag.Success==null)
                {
                    <div>
                        <h3 class="text-white">Click Here to Apply for the drive</h3>
                        <input type="submit" value="Apply" class="btn btn-primary" />
                    </div>
                }
            
        </form>
    </div>
</div>

    @if (ViewBag.Success != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                if ('ViewBag.Success' != null) {
                    toastr.success('@ViewBag.Success');
                }
                else { toastr.warning('Already added'); }
            });
        </script>
    }
<div>
    <a asp-action="Role">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>